<h1>All Comments on "<%=@post.title%>"</h1>

<% @comments.each do |comment| %>
	"<%= comment.body %>" <%= link_to "delete", [@post, comment], method: :delete, data: {confirm: "Are you sure?"} %> <br>

	<p class="commentby">-- <%= @user.email %></p>
	
<% end %>
<br>
<div class="buttons">
	<%= link_to "Add a Comment", new_post_comment_path, :class => "btn btn-info" %><br>
	<br>
	<%= link_to "Back to all Posts", posts_path, :class => "btn btn-info" %>
</div>