<h1>All Comments on "<%=@post.title%>"</h1>

<% @comments.each do |comment| %>
	<%= link_to comment.body, post_comment_path(params[:post_id], comment.id) %> <%= link_to "delete", [@post, comment], method: :delete, data: {confirm: "Are you sure?"} %> <br>

	<p class="commentby">submitted <%= time_ago_in_words(comment.created_at) %> ago by: <strong><%= @user.email %></strong></p>
	
<% end %>
<br>
<div class="buttons">
	<%= link_to "Add a Comment", new_post_comment_path %><br>
	<br>
	<%= link_to "Back to all Posts", posts_path %>
</div>